.container {
    position: relative;
    top: 15px;
    left: 10px;
    width: max-content;

    svg {
        position: absolute;
    }

    span {
        position: absolute;
        left: 10px;
        top: 4px;
        font-size: 15px;
        color: #BB8C5F;
    };
}