@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.container {
    padding: 0 20px;
    padding-top: 115px;
    padding-bottom: 114px;
    max-width: 1256px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    column-gap: 60px;
    flex-wrap: wrap;

    .nav__item {
        font-size: 30px;
        font-family: $JostFont;
        font-weight: 500;
        color: $blackColor;
        cursor: pointer;

        &:hover {
            color: $goldColor;
        }

        .item__title {
            margin-bottom: 3px;
        }

        .item__line {
            opacity: 0;
        }

        & div {
            opacity: 0;
        }

        &:hover div {
            opacity: 1;
        }

        & div, p {
            transition: all .2s ease;
        }
    }

    .item_active {
        & div, p {
            color: $goldColor;
            opacity: 1;
        }
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
    margin-bottom: 50px;
    position: relative;
    justify-content: center;
}

.checkbox_container {
    display: none;
    align-items: center;
    gap: 15px;
}


@media (max-width: 1250px) {
    .nav {
        gap: 24px;

        .nav__item {
            font-size: 26px;
        }
    }
}

@media (max-width: 1020px) {
    .nav {
        .nav__item {
            font-size: 20px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        padding-top: 75px;
        padding-bottom: 84px;
    }

    .cards {
        margin-bottom: 65px;
        max-width: 727px;
        flex-wrap: nowrap;
        overflow: hidden;
        justify-content: flex-start;
    }

    .checkbox_container {
        display: flex;
    }
}



@media (max-width: 768px) {
    .cards {
        max-width: 100%;
    }
}

@media (max-width: 420px) {
    .nav {
        max-width: 200px;
    }

}