@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.container {
    padding-top: 130px;
    padding-bottom: 115px;
    width: 1216px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;

    .nav__item {
        font-size: 30px;
        font-family: $JostFont;
        font-weight: 500;
        color: $blackColor;
        cursor: pointer;

        &:hover {
            color: $goldColor;
        }

        .item__title {
            margin-bottom: 3px;
        }

        .item__line {
            opacity: 0;
        }

        & div {
            opacity: 0;
        }

        &:hover div {
            opacity: 1;
        }

        & div, p {
            transition: all .2s ease;
        }
    }

    .item_active {
        & div, p {
            color: $goldColor;
            opacity: 1;
        }
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
    position: relative;
}