.container {
    margin-bottom: 115px;
    min-height: 635px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.img {
    height: 100%;
    width: 100%;
    background-image: url('../../assets/images/info-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: -200px;
}

.info {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    max-width: 613px;
}

.title {
    margin: 70px 0 25px;
    font-size: 50px;
    color: #BB8C5F;
    font-family: 'Forum', sans-serif;
    font-weight: 400;
}

.text {
    margin-bottom: 20px;
    font-size: 17px;
    color: #3E424B;
    font-weight: 400;
    line-height: 1.4;
}

.text:nth-child(3) {
    margin-bottom: 40px;
}

.button {
    margin-left: 20px;
}

@media (max-width: 1045px) {
    .container {
        grid-template-columns: 1fr;
       justify-items: center;
       gap: 40px;
    }

    .img {
        min-height: 400px;
        width: 100%;
        background-position-x: center;
        background-position-y: -50px;
    }

    .button {
        margin: 0 auto;
    }
}