.container {
    margin-bottom: 115px;
    height: 635px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.img {
    height: 100%;
    width: 100%;
    background-image: url('../../assets/images/info-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: -200px;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 583px;
}

.title {
    margin: 70px 0 25px;
    font-size: 50px;
    color: #BB8C5F;
    font-family: 'Forum', sans-serif;
    font-weight: 400;
}

.text {
    margin-bottom: 20px;
    font-size: 17px;
    color: #3E424B;
    font-weight: 400;
    line-height: 1.4;
}

.text:nth-child(3) {
    margin-bottom: 40px;
}

.button {
    margin-left: 20px;
}