@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';

.button,
.button:focus {
    width: max-content;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    transition: all .2s ease;
   
    & path {
        transition: all .2s ease;
    }
}

.btn__type2:hover path {
    fill: $goldColor;
}

.btn__type2:hover {
    fill: $whiteColor;
}

.btn__type1 path {
    fill: $brownColor;
}

.btn__type1 text {
    fill: $whiteColor;
    font-weight: 300;
}

.btn__type1:hover {
    opacity: .8;
}