.container {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 55px;
    color: #3E424B;
    font-size: 60px;
    font-weight: 400;
    font-family: 'Forum', sans-serif;
}

.buttons {
    display: flex;
    gap: 15px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
}