.container {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 55px;
    color: #3E424B;
    font-size: 60px;
    font-weight: 400;
    font-family: 'Forum', sans-serif;
}

.buttons {
    display: flex;
    gap: 15px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
}

.slider__item {
    position: relative;
    width: 598px;
    height: 400px;
    padding-top: 40px;

    .photo {
        position: absolute;
        top: -10px;
        left: 50px;
        width: 80px;
        height: 80px;
        border: 3px solid #BC946D;
        background-color: #fff;
    };

    .review {
        border-top: 2px solid #BC946D;
        border-bottom: 2px solid #BC946D;
        background-color: #000;
        height: 86%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .text {
            width: 82%;
            margin: 50px 50px 33px 50px;
            font-size: 17px;
            font-family: 'Jost', sans-serif;
            line-height: 1.4;
            color: #D0D0D0;
        }

        .contact {
            margin-left: 50px;
            margin-bottom: 53px;
            display: flex;
            gap: 15px;
            align-items: baseline;
            color: #BB8C5F;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 28px;
                height: 28px;
                border: 1px solid #BB8C5F;
            }

            .nickname {
                font-size: 20px;
                font-family: 'Forum', sans-serif;
                font-weight: 400;
            }
        }
    }
}
