.brands {
    padding: 0 20px;
    margin: 115px auto 120px;
    max-width: 1416px;
    position: relative;
}

.title {
    margin-left: 80px;
    margin-bottom: 25px;
    text-align: left;
    color: #3E424B;
    font-family: 'Forum', sans-serif;
    font-size: 60px;
    font-weight: 400;
}

.link {
    position: absolute;
    right: 100px;
    top: 50px;
    font-size: 25px;
    color: #3E424B;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: all .2s ease;
}

.link:hover {
    opacity: .8;
}

.slider {
    margin: 0 auto;
    display: flex;
    min-height: 204px;
    max-width: 1376px;
    align-items: center;
    justify-content: center;
}

.items {
    position: relative;
    max-width: 88.4%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.item {
    cursor: pointer;
    transition: all .2s ease;
    width: 211px;
    height: 82px;
    filter: grayscale(1);
}

.item:hover {
    filter: grayscale(0);
}

.line__hor {
    position: absolute;
    top: 50%;
    transform: translateY(-7px);
    width: 100% ;
}

.line__ver0 {
    position: absolute;
    left: 230px;
}

.line__ver1 {
    position: absolute;
    left: 480px;
}

.line__ver2 {
    position: absolute;
    left: 730px;
}

.line__ver3 {
    position: absolute;
    left: 980px;
}

@media (max-width: 1414px) {
.items {
    max-width: 964px;
}

    .item:nth-child(9),
    .item:nth-child(10) {
        display: none;
    }

    .line__ver3 {
        display: none;
    }

}

@media (max-width: 1165px) {
    .items {
        max-width: 715px;
    }

    .item:nth-child(7),
    .item:nth-child(8) {
        display: none;
    }

    .line__ver2 {
        display: none;
    }
}

@media (max-width: 915px) {
    .slider {
        flex-direction: column;
    }
}