.header {
    height: 160px;
    background-color: #000;
    color: #faf6f2;
    font-size: 15px;
}

.container {
    max-width: 1216px;
    height: 100%;
    margin: 0 auto;
}

.header__line {
    height: 1.5px;
    width: 100%;
    background-color: #524336;
}

.arrow_left {
    position: relative;
    bottom: 1.5px;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 8px solid #524336;
}

.arrow_right {
    margin-left: auto;
    position: relative;
    bottom: 6.5px;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 8px solid #524336;
    transform: rotate(180deg);
}

.header__top {
    height: 66px;
    padding: 8px 0 14px;
    display: flex;
    align-items: center;
}

.header__menu {
    height: 55px;
    padding-top: 13px;
}

.header__contact {
    display: flex;
    gap: 56px;
}

.header__logo {
    margin-top: 14px;
    margin-left: 142px;
    text-transform: uppercase;
    color: #bb8c5f;
    width: 192px; 
    display: flex;
    flex-direction: column;
}

.logo__title {
    width: 170px;
    font-size: 30px;
    font-family: 'Forum', cursive;
    font-weight: 400;
    align-self: center;
    line-height: 1;
}

.logo__line {
    height: 1.5px;
    width: 190px;
    background-color:#bb8c5f;
    position: relative;
}

.line_left {
    position: relative;
    bottom: 1.5px;
    height: 5px;
    width: 5px;
    background-color:#bb8c5f;
    transform: rotate(45deg);
}

.line_right {
    margin-left: auto;
    position: relative;
    bottom: 6.5px;
    height: 5px;
    width: 5px;
    background-color:#bb8c5f;
    transform: rotate(45deg);
}


.logo__subtitle {
    margin-top: 3px;
    align-self: center;
    font-size: 14px;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    letter-spacing: 3.5px;
    line-height: 150%;
}

.header__profile {
    margin-left: auto;
}

.header__contact {
    padding-top: 15px;
}

.contact__info{
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact__info_fix {
    padding-top: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact__messenger {
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.messenger {
    color: #BB8C5F;
}

.contact__messenger div {
    font-size: 12px;
}

.header__profile {
    margin-top: 24px;
    display: flex;
}

.header__profile div {
    margin-left: 50px;
}

.profile__cart {
    display: flex;
    gap: 5px;
    position: relative;
}

.profile__cart span {
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Jost', sans-serif;
    margin-top: 5px;
}

.cart_count {
    position: absolute;
    bottom: 25px;
    left: 32px;
    text-align: center;
    line-height: 21px;
    width: 24px;
    height: 21px;
    background-color:#bb8c5f;
}

.header__menu {
    display: flex;
}

.menu__control {
    display: flex;
    gap: 60px;
}

.menu__search {
    width: 364px;
    height: 44px;
    background-color: transparent;
    border: 1px solid #524336;
    font-size: 15px;
    color: #636B78;
    padding-left: 54px;
    line-height: 44px;
}

.search {
    display: flex;
    position: relative;
}

.search__icon {
    position: absolute;
    left: 16px;
    top: 8px;
}

.menu__navigation {
    margin-left: auto;
    margin-top: 10px;
}

.menu__navigation ul {
    display: flex;
    gap: 60px;
}

.menu__navigation ul li {
    cursor: pointer;
    font-family: 'Jost', sans-serif;
    font-size: 17px;
    transition: all .2s ease;
}

.menu__navigation ul li:hover {
    color:#bb8c5f;
}

.menu__title {
    margin-top: -5px;
    font-size: 25px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

.control {
    display: flex;
    gap: 10px;
    align-items: center;
}

.burger {
    width: 28px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.burger div {
    height: 2px;
    background-color: #bb8c5f;
}


/* intro */

.intro {
    height: 685px;
    background-color: #000;
    background-image: url("../../assets/images/intro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro__inner {
    display: flex;
    justify-content: space-between;
}

.info {
    padding-top: 98px;
    max-width: 594px;
}


.info__title {
    margin-bottom: 30px;
    color: #bb8c5f;
    font-family: 'Forum', cursive;
    font-weight: 400;
    font-size: 75px;
    line-height: 1;
}

.info__text {
    margin-bottom: 60px;
    max-width: 431px;
    font-size: 25px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: #faf6f2;
}

.btn {
    margin: 0 5px;
    text-align: center;
    width: 235px;
    height: 70px;
    line-height: 70px;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: #faf6f2;
    background-color: #524336;
    border: 2px solid #bb8c5f;
    cursor: pointer;
}


.slide_control {
    padding-top: 138px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40px;
     height: 324px;
}

.control__btn {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1.5px solid #bb8c5f;
    cursor: pointer;
}

.btn__line_top {
    position: absolute;
    bottom: 60%;
    left: calc(50% - 1.5px);
    width: 1.5px;
    height: 40px;
    background-color: #bb8c5f;
}


.btn_line_arrow_top {
    position: absolute;
    left: -3px;
    top: -8px;
    width: 9px;
    height: 9px;
    background-color: #bb8c5f;
    transform: rotate(45deg);
}

.btn__line_bottom {
    position: absolute;
    bottom: -60%;
    left: calc(50% - 1.5px);
    width: 1.5px;
    height: 40px;
    background-color: #bb8c5f;
}


.btn_line_arrow_bottom{
    position: absolute;
    left: -3px;
    bottom: -8px;
    width: 9px;
    height: 9px;
    background-color: #bb8c5f;
    transform: rotate(45deg);
}

.checkbox_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.control__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid #524336;
}

.checkbox_active {
    width: 10px;
    height: 10px;
    background-color: #bb8c5f;
}