.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1.5px solid #BB8C5F;
    cursor: pointer;
    transition: all .2s ease;
    z-index: 10;
    flex-shrink: 0;
}

.btn:hover {
    opacity: .8;
}

.left {
    margin-right: 30px;
}

.right {
    margin-left: 30px;
}

@media (max-width: 915px) {
    .left {
        position: absolute;
        bottom: -30px;
        right: -50px;
       
    }

    .right {
        position: absolute;
        bottom: -30px;
        left: -50px;
    }
}