@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.card {
    padding-top: 15px;
    width: 289px;
    min-height: 370px;
    background-color: $whiteBg;
    cursor: pointer;
    transition: all .3s ease-in-out;
    position: relative;
    z-index: 1;

    .img {
        width: 100%;
        height: 228px;
        position: relative;

        .card__top {
            padding: 0px 20px;
            display: flex;
            justify-content: space-between;
        }
    }

    .checkboxes {
        margin: 0 auto;
        margin-bottom: 6px;
        height: 16px;
        width: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .checkbox {
            width: 6px;
            height: 6px;
            background-color: #E3E3E3;
        }

        .checkbox_active {
            background-color: #524336
        }
    }

    .title {
        min-height: 48px;
        margin-bottom: 10px;
        padding: 0 30px;
        font-size: 17px;
        font-family: $JostFont;
        line-height: 1.4;
    }

    .price {
        padding: 0 30px;
        color: $goldColor;
        font-size: 24px;
        font-weight: 600;
        font-family: $JostFont;
    }
}