@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.card {
    margin-top: 20px;
    padding-top: 15px;
    width: 289px;
    min-height: 384px;
    background-color: $whiteBg;
    transition: all .3s ease-in-out;
    position: relative;
    z-index: 100;
    flex-shrink: 0;

    .img {
        width: 100%;
        height: 228px;
        position: relative;

        .card__top {
            padding: 0px 20px;
            display: flex;
            justify-content: space-between;
        }
    }

    .checkboxes {
        margin: 0 auto;
        margin-bottom: 6px;
        height: 16px;
        width: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .checkbox {
            width: 6px;
            height: 6px;
            background-color: #E3E3E3;
        }

        .checkbox_active {
            background-color: #524336
        }
    }

    .title {
        min-height: 48px;
        margin-bottom: 10px;
        padding: 0 30px;
        font-size: 17px;
        font-family: $JostFont;
        line-height: 1.4;
    }

    .price {
        margin-bottom: 20px;
        padding: 0 30px;
        color: $goldColor;
        font-size: 24px;
        font-weight: 600;
        font-family: $JostFont;
    }
}

.card::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F5F5F5;
    transition: 0.35s;
    z-index: -10;
}

.card:hover {
    margin-top: 10px;
    padding-top: 0;
}

.card:hover:after {
    top: -20px;
    bottom: -45px;
    z-index: -10;
}

.button,
.button:focus {
    position: absolute;
    z-index: 100;
    left: 15px;
    width: max-content;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 0;
    transition: all .2s linear;
}

.card:hover button {
    opacity: 1;
    cursor: pointer;
}

.button svg text {
    fill: #BB8C5F;
    font-weight: 300;
    font-family: "Jost";
    font-weight: 400;
}

.button svg,
.button svg text,
.button svg path {
    transition: all .3s ease;
}

.button svg:hover path {
    fill: $goldColor;
}

.button svg:hover text {
    fill: $whiteColor;
}

.like {
    position: absolute;
    top: 20px;
    right: 33px;
    cursor: pointer;
    transition: all .2s ease;
}

.like .like__fill {
    opacity: 0;
    transition: all .2s ease;
}

.like:hover .like__fill {
    opacity: 1;
}

@media (max-width: 768px) {
    .card {
        width: 229px;
        padding-top: 0;

        .img {
            margin-top: 20px;
            margin-bottom: -15px;
            height: 228px;
            background-size: contain;
            background-repeat: no-repeat;

            .card__top {
                position: relative;
                top: -7px;
            }
        }

        .checkboxes {
            display: none;
        }

        .title {
            min-height: 48px;
            margin-bottom: 0px;
            padding: 0 30px;
            font-size: 15px;
        }

        .price {
            margin-bottom: 15px;
        }
    }

    .button,
    .button:focus {
        opacity: 1;
        width: 208px;
        left: 10px;

        & svg {
            width: 100%;
        }
    }

    .card::after {
        display: none;
    }

    .card:hover {
        margin-top: 20px;
        padding-top: 0;
    }

    .card:hover:after {
        display: none;
    }
}