@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.header {
    height: 160px;
    background-color: #000;
    color: $whiteColor;
    font-size: 15px;
    font-family: $JostFont;

    .container {
        max-width: 1216px;
        height: 100%;
        margin: 0 auto;
    }
}

.header__info {
    padding-top: 15px;
    margin-bottom: 12px;
    display: flex;
    height: 66px;
    align-items: center;
}

.contacts {
    margin-right: 142px;
    padding-top: 15px;
    display: flex;
    gap: 56px;

    .contact {
        display: flex;
        align-items: center;
        gap: 10px;
        transition: all .2s ease;
        cursor: pointer;

        & svg {
            transition: all .2s ease;
        }

        & svg path {
            transition: all .2s ease;
        }

        &:hover {
            stroke: $goldColor;
            color: $goldColor;
        }

        &:hover svg {
            stroke: $goldColor;
        }

        &:hover svg path {
            stroke: $goldColor;
        }
    }

    .contact_fix {
        padding-top: 15px;
    }

    .messengers {
        margin-right: 5px;
        display: flex;
        font-size: 12px;
        justify-content: space-between;
        gap: 10px;

        .messenger_active {
            color: $goldColor;
        }
    }
}

.profile {
    margin-left: auto;
    margin-top: 24px;
    display: flex;

    & div {
        margin-left: 50px;

        & svg {
            cursor: pointer;

            & path {
                transition: all .2s ease;
            }

            & circle {
                transition: all .2s ease;
            }
        }

        & svg:hover path {
            stroke: $goldColor;
        }

        & svg:hover circle {
            stroke: $goldColor;
        }
    }

    .profile__cart {
        display: flex;
        gap: 5px;
        position: relative;

        & span {
            font-size: 15px;
            line-height: 1.5;
            margin-top: 5px;
        }

        .cart__count {
            position: absolute;
            bottom: 27px;
            left: 32px;
            text-align: center;
            line-height: 21px;
            width: 24px;
            height: 21px;
            background-color: $goldColor;
        }
    }
}

.header__menu {
    height: 55px;
    margin-top: 4px;
    display: flex;

    .menu__control {
        display: flex;
        gap: 62px;
    }
}

.control {
    display: flex;
    gap: 11px;
    align-items: center;

    & .control__title {
        transition: all .2s ease;
    }

    & .burger div {
        transition: all .2s ease;
    }

    &:hover .control__title {
        color: $goldColor;
    }

    &:hover .burger div {
        background-color: $whiteColor;
    }

    .control__title {
        margin-top: -8px;
        font-size: 25px;
        font-family: $JostFont;
        font-weight: 400;
        cursor: pointer;
    }

    .burger {
        margin-top: -5px;
        width: 24px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;

        & div {
            height: 2px;
            background-color: $goldColor;
        }
    }
}

.search {
    display: flex;
    position: relative;

    .search__input {
        padding-left: 54px;
        width: 418px;
        height: 44px;
        background-color: transparent;
        border: 1px solid $brownColor;
        font-size: 15px;
        color: $grayColor;
        line-height: 44px;
    }

    .search__icon {
        position: absolute;
        left: 16px;
        top: 8px;
    }
}

.navigation {
    margin-left: auto;
    margin-top: 10px;

    & ul {
        display: flex;
        gap: 60px;

        & li {
            cursor: pointer;
            font-size: 17px;
            transition: all .2s ease;

            &:hover {
                color: #bb8c5f;
            }
        }
    }
}