@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';


.header {
    background-color: #050402;
    color: $whiteColor;
    font-family: $JostFont;

    .container {
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
        max-width: 1256px;
    }
}

.header__up {
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
}

.up__left {
    margin-right: 40px;
    width: 100%;
    max-width: 705px;
    display: flex;
    justify-content: space-between;
}

.up__right {
    display: flex;
    flex-basis: end;
    width: 100%;
    max-width: 260px;
}

.header__down {
    height: 55px;
    margin-top: 4px;
    display: flex; 
}

.menu__control {
    width: 616px;
    display: flex;
    gap: 62px;
}

.control {
    display: flex;
    gap: 11px;
    align-items: center;

    & .control__title {
        transition: all .2s ease;
    }

    & .burger div {
        transition: all .2s ease;
    }

    &:hover .control__title {
        color: $goldColor;
    }

    &:hover .burger div {
        background-color: $whiteColor;
    }

    .control__title {
        margin-top: -8px;
        font-size: 25px;
        font-family: $JostFont;
        font-weight: 400;
        cursor: pointer;
    }

    .burger {
        margin-top: -5px;
        width: 24px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;

        & div {
            height: 2px;
            background-color: $goldColor;
        }
    }
}

.nav {
    margin-left: auto;
    max-width: 560px;
}


@media (max-width: 950px) {
    .up__left {
        margin-right: 0px;
    }

    .menu__control {
        gap: 30px;
    }
}

@media (max-width: 880px) {
    .header {
        min-width: 80px;
        .container {
            padding-top: 12px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
    }
    

    .up__left {
        display: none;
    }

    .line {
        display: none;
    }

    .nav{
        display: none;
    }

    .menu__control {
        width: 500px;
    }

    .header__up {
        flex-shrink: 0;
    }
}

@media (max-width: 768px) {
    .up__right {
        margin-left: auto;
    }

    .control {
        margin-left: 20px;
        margin-right: 25px;
    }
}