@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.intro {
    height: 700px;
    background-color: #000;
    background-image: url("../../assets/images/intro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .container {
        max-width: 1216px;
        height: 100%;
        margin: 0 auto;

        .intro__inner {
            display: flex;
            justify-content: space-between;
        }
    }
}

.info {
    padding-top: 110px;
    max-width: 594px;

    .info__title {
        margin-bottom: 30px;
        color: $goldColor;
        font-family: $ForumFont;
        font-weight: 400;
        font-size: 75px;
        line-height: 1;
    }

    .info__text {
        margin-bottom: 60px;
        max-width: 431px;
        font-size: 25px;
        font-family: $JostFont;
        font-weight: 400;
        line-height: 1.4;
        color: $whiteColor;
    }
}

.slide_control {
    padding-top: 155px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40px;
    

    .control__btn {
        position: relative;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: 1.5px solid $goldColor;
        cursor: pointer;
        transition: all .2s ease;

        &:hover {
            opacity: .7;
        }

        .btn__line_top {
            position: absolute;
            bottom: 55%;
            left: 50%;
            width: 1.5px;
            height: 36px;
            background-color: $goldColor;

            .btn__line__arrow_top {
                position: absolute;
                left: -1.75px;
                top: -6px;
                width: 6px;
                height: 6px;
                background-color: $goldColor;
                transform: rotate(45deg);
            }
        }

        .btn__line_bottom {
            position: absolute;
            bottom: -100%;
            left: 50%;
            width: 1.5px;
            height: 60px;
            background-color: $goldColor;

            .btn__line__arrow_bottom{
                position: absolute;
                left: -1.75px;
                bottom: -6px;
                width: 6px;
                height: 6px;
                background-color: $goldColor;
                transform: rotate(45deg);
            }
        }
    } 

    .checkbox_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}