.footer {
    min-height: 400px;
    background-color: #050402;
    color: #FAF6F2;
    font-size: 20px;
    font-style: 'Jost' sans-serif;
}

.inner {
    height: 100%;
    display: flex;
}

.footer__menu {
    padding-top: 139px;
    margin-left: 160px;
    margin-right: 102px;
    display: flex;
}

.contacts {
    padding-top: 129px;
    margin-left: 98px;
}

.menu {
    max-height: 141px;
    width: 306px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 28px;

    & li a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin-right: 50px;
        transition: all .2s ease-in-out;

        &:hover {
            color: #BB8C5F;
        }
    }
}

.logo_wrap {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    gap: 55px;

}

.link {
    width: 240px;
    margin-right: 71px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    transition: all .2s ease-in-out;

    &:hover {
        color: #BB8C5F;
    }
}


.line__hor {
    display: none;
}

.logo {
    margin-top: 14px;
    display: flex;
    text-transform: uppercase;
    color: #BB8C5F;
    width: 192px;
    flex-direction: column;

    .logo__title {
        width: 170px;
        font-size: 30px;
        font-family: "Forum";
        font-weight: 400;
        align-self: center;
    }

    .logo__subtitle {
        margin-top: 3px;
        align-self: center;
        font-size: 14px;
        font-family: "Jost";
        font-weight: 300;
        letter-spacing: 3.5px;
        line-height: 150%;
    }
}

@media (max-width: 1360px) {
    .inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .line {
        display: none;
    }

    .footer__menu {
        margin-bottom: 70px;
    }

    .contacts {
        padding-top: 70px;
        padding-bottom: 70px;
        margin-left: 0px;
    }

    .line__hor {
        width: 100%;
        display: block;
    }
}

@media (max-width: 768px) {
    .inner {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer__menu {
        padding: 0 20px;
        padding-top: 70px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 65px;
        display: flex;
    }

    .logo_wrap {
        margin-right: 75px;
        gap: 25px;
    }

    .contacts {
        padding: 0 20px;
        padding-top: 68px;
        padding-bottom: 70px;
    }

    .logo {
        width: 280px;

        .logo__title {
            width: auto;
            font-size: 43px;
        }

        .logo__subtitle {
            margin-top: 5px;
            font-size: 20px;
            letter-spacing: 5px;
        }
    }
}