.footer {
    height: 400px;
    background-color: #050402;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FAF6F2;
    font-size: 20px;
    font-style: 'Jost' sans;
}

.footer__menu {
    height: 141px;
    // padding-top: 139px;
    // margin-right: 86px;
    display: flex;
}

.menu {
    max-height: 180px;
    width: 306px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.logo {
    margin-right: 71px;
    display: flex;
    flex-direction: column;
    gap: 52px;
    
}

.link {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}