.slider__item {
    position: relative;
    width: 598px;
    height: 397px;
    padding-top: 40px;

    .photo {
        position: absolute;
        top: -10px;
        left: 50px;
        width: 13.5%;
        height: 20.5%;
        border: 3px solid #BC946D;
        background-color: #fff;
        background-position-x: -5px;
        z-index: 10;
    };

    .review {
        width: 100%;
        position: relative;
        background-color: #000;
        height: 86.6%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .text {
            width: 82%;
            margin: 52px 50px 33px 50px;
            font-size: 17px;
            font-family: 'Jost', sans-serif;
            line-height: 1.4;
            color: #D0D0D0;
        }
    }
}

.line {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.line_top {
    top: -6px;
}

.line_bottom {
    bottom: -6px;
}

.behind {
    position: relative;
    opacity: .3;
    height: 297px;
    width: 430px;

    .photo {
        position: absolute;
        top: 0px;
        left: 36px;
        background-position: center;
        background-size: cover;
    };

    .review {
        .text {
            margin: 35.59px 35.59px 41px 35.59px;
            font-size: 12.24px;
        }
    }

}

.left {
    left: 70px;
}

.right {
    right: 70px;
}

@media (max-width: 915px) {
    .left {
        left: 20px;
    }
    
    .right {
        right: 20px;
    }
}