.banners {
    height: 470px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.banner {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.left {
    background-image: url('./../../assets/images/left.jpg');
    background-position: right;
}

.right {
    background-image: url('./../../assets/images/right.jpg');
    background-position: left;
}

.title {
    margin-top: 40px;
    position: absolute;
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.3;
}

.title_left {
    left: 160px;
}

.title_right {
    max-width: 267px;
    left: 50px;
}

.button {
    position: absolute;
    cursor: pointer;
    transition: all .3s ease-in-out;
    bottom: 50px;
}

.button:hover {
    opacity: .7;
}

.button svg {
    position: absolute;
    bottom: -2px;
    left: -4px;
}

.link {
    color: #BB8C5F;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    margin-bottom: 0;
}

.button_left {
    left: 165px;
}

.button_right {
    left: 53px;
}

@media (max-width: 1245px) {
    .banners {
        height: 370px;
    }

    .title {
        font-size: 35px;
    }
}

@media (max-width: 1045px) {
    .banners {
        height: 300px;
    }

    .title {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .title {
        width: 226px;
        font-size: 30px;
    }

    .title_left {
        left: 50px;
    }

    .title_right {
        width: 100%;
        max-width: 300px;
        left: 50px;
    }

    .button_left {
        left: 55px;
    }
}