.banners {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: center;
}

.banner {
    position: relative;
    height: 470px;
    width: 950px;
    background-size: cover;
    background-repeat: no-repeat;
}

.left {
    background-image: url('./../../assets/images/left.jpg');
    background-position: right;
}

.right {
    background-image: url('./../../assets/images/right.jpg');
    background-position: left;
}

.title {
    position: absolute;
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.3;
}

.title_left {
    margin-top: 40px;
    left: 153px;
}

.title_right {
    max-width: 267px;
    margin-top: 40px;
    left: 50px;
}

.button {
    max-width: max-content;
    position: absolute;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.button:hover {
    opacity: .7;
}

.link {
    color: #BB8C5F;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

.button_left {
    bottom: 50px;
    left: 153px;
}

.button_right {
    bottom: 50px;
    left: 50px;
}