.contacts {
    color: #FAF6F2;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;

    .contacts__inner {
        margin-bottom: 12px;
        display: flex;
        gap: 25px;

        .phone {
            display: flex;
            align-items: center;
            transition: all .2s ease-in-out;

            & svg {
                margin-right: 10px;
            }

            & svg path {
                transition: all .2s ease-in-out;
            }

            &:hover {
                color: #BB8C5F;
            }

            &:hover svg path {
                stroke: #BB8C5F;
            }
        }

        .social {
            display: flex;
            gap: 12px;

            & a {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #BB8C5F;
                transition: all .2s ease-in-out;

                & svg path {
                    transition: all .2s ease-in-out;
                }

                &:hover {
                    border: 1px solid #FAF6F2;
                }

                &:hover svg path {
                    fill: #FAF6F2;
                }
            }
        }
    }

    .info {
        margin-bottom: 35px;
        color: #636B78;
        font-size: 17px;
    }

    .mail {
        transition: all .2s ease-in-out;

        & svg {
            margin-right: 17px;
            position: relative;
            left: 5px;
        }

        & svg path {
            transition: all .2s ease-in-out;
        }

        &:hover {
            color: #BB8C5F;
        }

        &:hover svg path {
            stroke: #BB8C5F;
        }
    }
}